@import './index.css';

/*  */
.ant-input,
.ant-input-wrapper,
.ant-input-group-wrapper {
  font-family: unset !important;
}

#root,
html,
body {
  height: 100%;

  direction: rtl;
}

.ant-modal-content {
  @apply !p-0;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.ant-input {
  direction: inherit;
}

input {
  width: 100% !important;
}

.ant-form {
  direction: rtl;
}

.ant-col,
.ant-row {
  text-align: inherit !important;
  direction: rtl !important;
}

* {
  @apply font-YBAKH;
}

.ant-notification-notice-close-x {
  display: inline-flex;
}

.ant-notification-notice-message {
  @apply !my-0;
}

.ant-upload {
  width: 100%;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: gray; 
}

.ant-carousel .slick-dots li button {
  background-color: #a9a9a9; 
}

.ant-carousel .slick-prev, 
.ant-carousel .slick-next {
  color: #1D4ED8; 
}

.ant-carousel .slick-prev:hover, 
.ant-carousel .slick-next:hover {
  color: #2563EB;
}
